.appName {
    text-shadow: 1px 1px 2px rgba(232, 244, 244, 0.3);
    color: #f9ebd9;
    font-family: 'Bungee Inline', cursive;  
    text-shadow: 2px 3px 0px rgba(0,0,0,0.15), 2px 2px 0px #f9ebd9;
    font-size: 65px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;
}

.ribbon {
    text-align: center;
}

.ribbon .mainRec {
    height: 60px;
    z-index: 1;
    box-shadow: 0px 11px 8px rgba(49, 49, 49, 0.5);
}

.sideRec {
    height: 50px;
    width: 60px;
    position: relative;
    left: 15px;
    top: 12px;
}

.rightRec {
    height: 50px;
    width: 60px;
    position: relative;
    right: 15px;
    top: 12px;
}

.sideRec, .rightRec {
    box-shadow: 0px 3px 0px rgba(49, 49, 49, 0.14);
}

.ribbon-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.carousel {
    border: 20px solid #fbfaf6;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}