.contact {
    background-image: url("Contact_section_BG.png");
    margin-top: -15px;
}

.contact .rectangle {
    height: 2px;
    margin-top: auto;
    margin-bottom: auto;
    width: 5%;
    color: #f6edd8;
}

.contact .x {
    color: #f6edd8;
}

.contact .portfolio-h2 {
    color: #f6edd8;
    text-shadow: 5px 3px 0 #484a4d;
}

.contact .about-desc {
    color: #f6edd8;
}

.contact .form-group {
    margin: 1% auto;
}

.contact .form-group .form-control {
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: #a9a9a9;
    font-family: "Roboto Slab";
    font-size: 15px;
    font-weight: 400;
}

.contact .btn {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fcfaf7;
    color: #383a3c;
    font-family: "Roboto Slab";
    font-size: 15px;
    font-weight: 700;
}